*{
    background-color: #e8faff;
    font-family: "Roboto Light", Arial, serif;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#title-txt-img{
    display: none;
}

#iAmOver18Screen{
    width: min(750px, 100vw);
    aspect-ratio: 750 / 300;
    margin: 0 auto;
    box-sizing: border-box;
    flex: 0 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 2px solid lightgrey;
}

.title-txt-img{
    width: min(400px, 100vw);
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.darkColor-btn{
    display: block;
    width: min(300px, 100vw);
    height: min(50px, 100vw);
    color: whitesmoke;
    font-size: 30px;
    background-color: #5fa0b0;
    border-color: #538b99;
    margin: 30px auto 10px;
    border-radius: 5px;
}

.lightColor-btn{
    display: block;
    width: min(300px, 100vw);
    height: min(50px, 100vw);
    color: whitesmoke;
    font-size: 30px;
    background-color: #a1bfc7;
    border-color: #95b0b8;
    margin: 10px auto 30px;
    border-radius: 5px;
}

#howOldAreYouContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: min(75px, 100vw);
    font-family: "Roboto Light", Arial, serif;
    color: whitesmoke;
    background-color: #4f90a1;
    margin: 10px 10px 5px;
}

#howOldAreYou-txt{
    font-size:  30px;
    background-color: transparent;
    position: relative;
}

#ageContainer{
    margin: 10px 10px 10px;
    background-color: #a1bfc7;
}

#selectAgeContinueContainer{
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: whitesmoke;
    border-top: 2px solid lightgrey;
    height: min(50px, 100vw);
}

#selectAgeContinueButton{
    font-family: "Roboto Light", Arial, serif;
    background-color: #4f90a1;
    color: whitesmoke;
    border: none;
    width: min(80px, 100vw);
    height: min(35px, 100vw);
    position: relative;
    margin: 10px 10px 10px;
}

#selectAgeScreen{
    display: none;
    width: min(550px, 100vw);
    aspect-ratio: 550 / 300;
    margin: 0 auto;
    box-sizing: border-box;
    flex: 0 0 auto;
    background-color: whitesmoke;
    border: 2px solid lightgrey;
}

#verificationRequiredScreen{
    display: none;
    width: min(750px, 100vw);
    aspect-ratio: 750 / 300;
    margin: 0 auto;
    box-sizing: border-box;
    flex: 0 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 2px solid lightgrey;
}

#VerificationRequiredTitle{
    font-size: 30px;
    font-weight: bold;
    background-color: transparent;
}

#verificationRequiredTitle-container {
    background-color: transparent;
    margin: 30px auto 10px;
    display: flex;
    justify-content: center;
}

#VerificationRequiredTxt-container{
    background-color: transparent;
    margin: 20px auto 50px;
    display: flex;
    justify-content: center;
}

#VerificationRequiredTxt{
    background-color: transparent;
}